Options +ExecCGI
AddHandler cgi-script .py
DirectoryIndex trolling.py
header add Access-Control-Allow-Origin *
header add Access-Control-Allow-Headers X-Requested-With
<IfModule mod_rewrite.c>
	RewriteEngine on
        RewriteBase /ws/
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_URI} !^/favicon.ico$
        RewriteCond %{REQUEST_URI} !^(/.*)+trolling.py/
        RewriteRule ^(.*)$ trolling.py$1 [PT]
</IfModule>
